body
{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 320;
}

.header 
{
  text-align: center;
  background-color: rgb(255, 167, 2);
  display: block;
  overflow: hidden;
  
  
}

.menu
{
  width:calc(100% - 10px);
  margin-left: 5px;
  overflow: hidden;
  display: flex;
  background-color: dodgerblue;
  
  
  


}
.menu i
{
  width:calc(100% - 10px);
  font-size: 28px;
  color: rgb(252, 252, 252);
  margin-right: 2px;
  margin-top: 10px;
  margin-left: 10px;
  display: block;
  

}

a
{
 background-color: #2c2a2a;
 margin: 2px;
 padding: 10px;
 font-size: 22px;
 color: rgb(255, 255, 255);
 border-radius: 45px;
 

 
}

.leftcolumn .rightcolumn .title
{
  background: #ff0202;
  width: 100%;
  display: block;
  height: 25px;
  line-height: 5px;
  margin-bottom: 5px;
}

@media (min-width: 430px){

   .menu i{
     display: none;
   }
}

@media (min-width: 768px)
{
  .menu a
  {
    
    margin-top: 10px;
    
  }
  a
  {
    margin-right: 33.5%;
    display: block;
    
    
  }
}

@media (min-width: 1024px)
{
    .menu a
    {
      margin-top: 10px;
      
    }
    .menu
    {
      justify-content: space-between;
    }
   
}
